<p>
  This is a simple grant matching application that allows you to search for
  grants based on your organization's needs. You can search for grants based on
  the following criteria:
</p>
<ul>
  <li>Organization Name</li>
  <li>Categories</li>
  <li>Organization Type</li>
  <li>Requested Funding Amount</li>
</ul>
<p>
  To get started, click on the "Grant Matching" link in the navigation bar
  above. You will be taken to a form where you can enter your organization's
  information and search for grants that match your needs.
</p>
