.table-container {
  color: white;
  font-size: 24px;
  border-radius: 5px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.resp-row {
  padding: 10px 0;
}

.resp-col {
  border: 2px solid black;
}

.cell-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

