<div class="dark-container">
  <h2>Matching Grant List Data</h2>

  <div class="container-fluid table-container mt-5">
    <div class="row header-row">
      @for (col of headers; track col) {
      <div class="col header-col">{{ col }}</div>
      }
    </div>
    @for (grant of grants; track grant.id) {
    <div class="row resp-row">
      <div class="col resp-col cell-flex">{{ grant.id }}</div>
      <div class="col resp-col">{{ grant.org }}</div>
      <div class="col resp-col">{{ grant.title }}</div>
      <div class="col resp-col">{{ grant.category }}</div>
      <div class="col resp-col">{{ grant.funds }}</div>
    </div>
    }
  </div>
</div>
