<div class="container-fluid">
  <app-header/>
  @if (choice === 'upload') {
    <app-upload (fileResponseEvent)="fileResponse($event)"/>
    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    <app-display-table *ngIf="resp" [header]="resp.headers" [response]="resp.items"/>
  } @else if(choice === 'input') {
    <app-user-input (fileResponseEvent)="fileResponse($event)"/>
    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    <app-display-table *ngIf="resp" [header]="resp.headers" [response]="resp.items"/>
  } @else {
    <app-choose (choiceEvent)="choiceEvent($event)"/>
  }
</div>