<div class="upload-box p-5">
  <h1>Please provide the necessary input</h1>
  <form [formGroup]="inputForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="question" class="col-sm-2 col-12">Question</label>
      <input
        type="text"
        name="question"
        class="col-sm-10 col-12"
        id="question"
        formControlName="question"
      />
      <div
        *ngIf="
          inputForm.controls['question'].invalid &&
          (inputForm.controls['question'].dirty ||
            inputForm.controls['question'].touched)
        "
        class="alert alert-danger form-danger"
        role="alert"
      >
        <div *ngIf="inputForm.controls['question'].errors?.required">
          Question is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="answer" class="col-sm-2 col-12">Answer</label>
      <input
        type="text"
        name="answer"
        class="col-sm-10 col-12"
        id="answer"
        formControlName="answer"
      />
      <div
        *ngIf="
          inputForm.controls['answer'].invalid &&
          (inputForm.controls['answer'].dirty ||
            inputForm.controls['answer'].touched)
        "
        class="alert alert-danger form-danger"
        role="alert"
      >
        <div *ngIf="inputForm.controls['answer'].errors?.required">
          Expected Answer is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="keyword" class="col-sm-2 col-12">Keyword</label>
      <input
        type="text"
        name="keyword"
        class="col-sm-10 col-12"
        id="keyword"
        formControlName="keyword"
      />
      <div
        *ngIf="
          inputForm.controls['keyword'].invalid &&
          (inputForm.controls['keyword'].dirty ||
            inputForm.controls['keyword'].touched)
        "
        class="alert alert-danger form-danger"
        role="alert"
      >
        <div *ngIf="inputForm.controls['keyword'].errors?.required">
          Keyword is required
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn"
      [ngClass]="inputForm.valid && !loading ? 'btn-success' : 'btn-secondary'"
      [disabled]="inputForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
<div class="container-spin">
  <div class="loader" *ngIf="loading"></div>
</div>
